:root{
    --color-text: #5A0DAC
}

.MyPhoto{
    box-shadow: 10px 10px #6514b6;
}
.ConnectionWithMe{
    color: var(--color-text);
    border: 0px solid black;
    padding: 4;
    margin: 0;
}
.HelloPhrase{
    color: var(--color-text);
    border: 0px solid black;
    padding: 0;
}
.AboutMe{
    color: var(--color-text);
    border: 0px solid black;
    padding: 0;
}
.MyCode{
    color: var(--color-text);
    border: 0px solid black;
    padding: 0;
}
.CSharpCode{
    color: black;
    border: 0px solid black;
    padding: 0;
}
.PictureDescription{
    color: var(--color-text);
    border: 0px solid black;
    padding: 0;
}